<script>
	import Calendar from './Calendar.svelte';
	let y = 2020, m = 1;

	let daySelected = null;
	const onDaySelected = e => {
		daySelected = e.detail.toLocaleDateString(undefined, { dateStyle: 'full' });
	};
</script>

<h1>PollDate</h1>

<input type="number" min="2020" max=2024 bind:value={y} name="">
<input type="number" min="01" max=12 bind:value={m} name="">
<Calendar year={y} month={m} on:daySelected={onDaySelected} />

{#if daySelected}
<h1>{daySelected}</h1>
<!-- Create a selected state -->
<button class="ok"><span>12</span>Disponible</button>
<button class="maybe"><span>0</span>Incertain</button>
<button class="no"><span>3</span>Occupé</button>
{/if}

<style type="text/css">
	button {
		all: unset;
		height: 35px;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		padding-right: 10px;
	}

	button span {
		display: inline-block;
		margin-right: 7px;
		line-height: 35px;
		padding: 0 5px 0 7px;
	}

	button.ok {
		background-color: #89ee89;
	}
	button.ok span { background-color: #39ce39 }

	button.maybe {
		background-color: #ffc965;
	}
	button.maybe span { background-color: #ef9935 }

	button.no {
		background-color: #f99090;
	}

	button.no span { background-color: #e95050 }

</style>