<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

	import Day from './Day.svelte';
	export let month = 1;
	export let year = 2020;
	
	let list = [];

	$: updateList(month, year);

	const updateList = (month, year) => {
		list = [];
		const selectedMonth = new Date(year, month -1, 1);
		const daysInMonth = new Date(year, month, 0).getDate();
		const daysInLastMonth = new Date(year, month -1, 0).getDate();

		// Fill the first week
		let fillCount = selectedMonth.getDay() == 0 ? 6 : (selectedMonth.getDay() -1);
		for (var i = daysInLastMonth - fillCount+1 ; i <= daysInLastMonth; i++)
			list.push({ day: i, disabled: true });

		// Fill the days
		for (var i = 1; i <= daysInMonth; i++)
			list.push({ day: i, disabled: false });


		// Fill the last week (exept if last day of the month is sunday)
		selectedMonth.setDate(daysInMonth);
		fillCount = selectedMonth.getDay() == 0 ? 0 : (7 - selectedMonth.getDay());
		for (var i = 1; i <= fillCount; i++)
			list.push({ day: i, disabled: true });


list[23].ok = 23;
list[23].no = 10;
list[12].maybe = 50;
		list = list;
	};


	const onDaySelected = e => dispatch("daySelected", new Date(year, month -1, e.detail));
</script>

<article>
	<span>L</span> <span>M</span> <span>M</span>
	<span>J</span> <span>V</span> <span>S</span> <span>D</span>

	<!-- Key is usefull when the API is plugged ? -->
	{#key list}
	{#each list as date}
		<Day on:daySelected={onDaySelected} day={date.day} disabled={date.disabled} ok={date.ok} maybe={date.maybe} no={date.no} />
	{/each}
	{/key}
</article>

<style type="text/css">
	article {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(7, 50px);
	}

	article span {
		text-align: center;
	}
</style>