<script>
	import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();
	
	export let day = "X";
	export let disabled = false;

	export let ok = 0;
	export let maybe = 0;
	export let no = 0;

	$: background = `conic-gradient(#00b500 ${ok}%, #ffa705 ${ok}%, #ffa705 ${ok+maybe}%, #d20505 ${ok+maybe}%, #d20505 ${ok+maybe+no}%, #0000 0)`;

	const onDaySelected = () => dispatch("daySelected", day);
</script>

<button on:click={onDaySelected} disabled={disabled} style:--pie-bg={background}>{day}</button>

<style type="text/css">
	button {
		all: unset;
		cursor: pointer;
		position: relative;

		width: 50px;
		height: 50px;
		border-radius: 50%;
		text-align: center;
		
		background: linear-gradient(-45deg, #00f3ff, #0a2ce3);
	}

	button:hover {
		background: linear-gradient(-45deg, #44ffff, #4f6fff);
	}

	button[disabled] {
		background: #AAA;
	}

	button:before {
		content: "";
		position: absolute;
		border-radius: 50%;

		z-index: -1;
		display: block;
		width: 56px;
		height: 56px;
		top: -3px; left: -3px;
		background-image: var(--pie-bg);
	}
</style>